body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.first-column {
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
}

    .first-column #UpdatePanel {
        display: block;
        width: 85%;
        height: 100%;
        border: none;
    }

.second-column {
    float: right;
    width: 13%;
    height: 100%;
    padding: 15px;
}